apiVersion: v1
kind: Service
metadata:
  name: analytics-service
  namespace: expense-ms
spec:
  selector:
    app: analytics-service
  ports:
    - port: 3002
      targetPort: 3002
  type: ClusterIP
