apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics-service
  namespace: expense-ms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analytics-service
  template:
    metadata:
      labels:
        app: analytics-service
    spec:
      containers:
        - name: analytics-service
          image: docker.io/1ghofrane1/expense-ms-analytics-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3002
          env:
            - name: PORT
              value: "3002"
            - name: CORS_ORIGIN
              value: "http://localhost:5175"
            - name: EXPENSES_SERVICE_URL
              value: "http://expenses-service:3001"
