apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: expense-ms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: docker.io/1ghofrane1/expense-ms-frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
